* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.body-wrapper {
  position: relative;
  background-color: #f1f1f1;
  min-height: 100vh;
  padding-bottom: 291px;
}

#horizontal-rule {
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 4px;
}

button {
  outline: none;
  cursor: pointer;
  border: 0px;
  transition: all 0.3s;
}
button:focus {
  outline: 2px solid #005bd3;
  outline-offset: 2px;
  border-radius: 8px;
}

/* top nav style  */
.logo-big {
  display: block;
}
.logo-small {
  display: none;
}

.top-nav {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  background-color: #1a1a1a;
}

.search {
  position: relative;
  display: flex;
}
.search svg {
  position: absolute;
  top: 6px;
  left: 6px;
}

input[type="search"] {
  display: flex;
  width: 480px;
  height: 32px;
  padding: 8px 0px;
  padding-left: 30px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #616161;
  transition: border 0.3s;
  background: #303030;
  color: #b5b5b5;
  outline: none;
}
input[type="search"]:hover {
  border: 1px solid #e1e1e1;
}
input[type="search"]:active,
input[type="search"]:focus {
  border: 2px solid #fff;
}

input::placeholder {
  color: #b5b5b5;
  font-weight: 500;
  line-height: 140%;
}
.header-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}
button.notification {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background-color: #303030;
}
button.notification:hover {
  background-color: #616161;
}
button.notification:active,
button.notification:focus {
  background-color: #656266;
}
button.notification:focus {
  outline: 2px solid #005bd3;
  outline-offset: 2px;
}
button.profile {
  display: flex;
  padding: 2px 2px 2px 8px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #303030;
}
button.profile p {
  color: #e3e3e3;
  font-size: 12px;
  font-weight: 500;
}
button.profile div,
button.user-button div {
  display: flex;
  height: 28px;
  padding: 9px 5px 10px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #36fba1;
}
button.profile:hover {
  background-color: #616161;
}
button.profile:active,
button.profile:focus {
  background-color: #656266;
}
button.profile:focus {
  outline: 2px solid #005bd3;
  outline-offset: 2px;
}

/* profile menu style */
.profile-menu {
  display: none;
  width: 320px;
  padding: 6px 6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: 14px;
  border: 1px solid #dbdbdb;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 12px;
  right: 16px;
  color: #303030;
  font-size: 13px;
  font-weight: 400;
}
.profile-menu button {
  background-color: #fff;
  display: flex;
  padding: 6px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
button.user-button {
  position: relative;
  display: flex;
  padding: 4px 12px 4px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: #f1f1f1;
}

.profile-menu button:hover {
  background-color: #dbdbdb;
  border-radius: 8px;
}
button.user-button svg {
  position: absolute;
  top: 10px;
  right: 12px;
}
button.user-button p {
  font-weight: 600;
  color: #303030;
  font-size: 13px;
}
/* button.all-store {
} */

/* notification menu styles */
.notification-menu {
  min-width: 383px;
  display: none;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 14px;
  border: 1px solid #dbdbdb;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 13px;
  font-weight: 400;
}
.notification-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  font-weight: 600;
  font-size: 14px;
}
.notification-menu-header-btn {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.notification-menu-header-btn button {
  background-color: transparent;
}
.notification-menu-alert {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 8px;
  background: #f1f1f1;
  width: 351px;
}
.notification-menu-alert p {
  color: #616161;
  font-size: 13px;
}

/* main content  */
.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 32px;
}
.advert--sys {
  display: flex;
  width: 800px;
  padding: 12px 8px 12px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #1a1a1a;
}
.advert--sys p,
.advert--phone div p {
  color: #e3e3e3;
  font-size: 13px;
  font-weight: 500px;
}
.advert-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.advert-btns .btn-1,
.advert--phone button {
  color: #323232;
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
}

.advert-btns .btn-1:hover,
.advert--phone button:hover {
  background-color: #f7f7f7;
}
.advert--phone {
  display: none;
}
.toggle-content {
  margin-top: 24px;
  display: flex;
  padding: 8px;
  padding-bottom: 12px;
  flex-direction: column;
  gap: 16px;
  border-radius: 18px;
  border: 1px solid var(--stroke-s-50, #dbdbdb);
  background: var(--White, #fff);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}
.toggle-content__header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle-content__header1 h4 {
  color: #303030;
  font-weight: 600;
  font-size: 14px;
}
.toggle-content h5 {
  font-size: 13px;
  font-weight: 400;
  margin-top: -15px;
}
#progressValue {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: #303030;
}
.toggle-content button {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 8px;
}

/* container content  */
.container-content {
  display: none;
}
.active {
  display: block;
}
.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.toggle-btn {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
}
.toggle-btn:hover {
  transition: all 0.2s;
  background-color: #e7e7e7;
}
/* progress bar */
.progress-bar {
  width: 72px;
  height: 5px;
  border-radius: 0.6rem;
  background-color: #e3e3e3;
  margin-top: 5px;
}

.progress-bar-fill {
  height: 100%;
  border-radius: 0.6rem;
  width: 0;
  background-color: #1a1a1a; /* Green color, change as needed */
  transition: width 0.3s ease-in-out;
}

/* container */

/* content itme */
.content--item {
  padding: 8px 8px 12px 4px;
  /* background-color: #f3f3f3; */
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.content--item__text {
  display: flex;
  gap: 8px;
  align-items: center;
}
.content--item__text button {
  background-color: transparent;
  width: 28px;
}
.content--item__text button:focus {
  outline: 2px solid #005bd3;
  outline-offset: 2px;
}
.content--item__text p {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  color: #303030;
}
.content-item__body {
  display: flex;
  justify-content: space-between;
  padding-left: 28px;
}
.content--item__texts {
  width: auto;
  max-width: 483px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.content--item__texts p {
  color: #616161;
  font-size: 13px;
  font-weight: 500;
  line-height: 140%;
}

.content--item__texts a {
  text-decoration: none;
  color: #005bd3;
  font-size: 14px;
  display: inline-block;
}

.content--item__texts button {
  width: fit-content;
  height: 28px;
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  color: #f6f3f6;
  font-weight: 600;
  border-radius: 6px;
  border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
}
#import-btn {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  color: #323232;
  background: transparent !important;
  box-shadow: 0px 0px 0px 0px #fff, 0px 1px 0px 0px #fff, 0px 0px 0px 0px #fff;
}

.content--item__texts button:focus,
.content--item__texts button:hover {
  background-color: #2a2a2a;
}
.content-item__body img {
  margin-top: -2.1rem;
}

@media only screen and (max-width: 600px) {
  input[type="search"] {
    display: flex;
    width: 238px;
    height: 32px;
  }
  .logo-big {
    display: none;
  }

  .logo-small {
    display: block;
  }

  button.profile p {
    display: none;
  }
  button.notification,
  button.profile {
    background-color: transparent;
  }
  .advert--sys {
    display: none;
  }
  .advert--phone {
    display: flex;
    padding: 12px 8px 12px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    background: var(--grey-grey-300, #1a1a1a);
  }
  .content--item__img {
    display: none;
  }
  /* profile menu styles */
  /* profile menu style */
  .profile-menu {
    display: none;
    width: 320px;
    padding: 6px 6px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    border-radius: 14px;
    border: 1px solid #dbdbdb;
    background: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 12px;
    right: 16px;
    color: #303030;
    font-size: 13px;
    font-weight: 400;
  }
  .profile-menu button {
    background-color: #fff;
    display: flex;
    padding: 6px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }
  button.user-button {
    position: relative;
    display: flex;
    padding: 4px 12px 4px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: #f1f1f1;
  }

  .profile-menu button:hover {
    background-color: #dbdbdb;
    border-radius: 8px;
  }
  button.user-button svg {
    position: absolute;
    top: 10px;
    right: 12px;
  }
  button.user-button p {
    font-weight: 600;
    color: #303030;
    font-size: 13px;
  }
}

/* checkbox styles */
label {
  position: relative;
  width: 100%;
  max-width: 24px;
  height: 24px;
  cursor: pointer;
  flex-grow: 1;
}
label:focus {
  outline: none;
  border: 0.125rem solid #005bd3;
}
label input {
  display: block;
  position: fixed;
  right: -10000000000vw;
}
input + span > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input + span > svg {
  opacity: 0;
}
input + span > svg:nth-of-type(1) {
  animation-name: checkSvgAnimation;
  animation-duration: 70ms;
  animation-timing-function: linear;
  opacity: 1;
}
input + span:hover > svg:nth-of-type(2) {
  opacity: 1;
}
input:focus > span > svg:nth-of-type(5) {
  outline: none;
  border: 0.125rem solid #005bd3;
}
input:checked + span > svg {
  animation-name: checkSvgAnimation;
  animation-duration: 100ms;
  animation-fill-mode: both;
}
input:checked + span > svg:nth-of-type(1) {
  opacity: 0;
}
input:checked + span > svg:nth-of-type(2) {
  animation-delay: 50ms;
}
input:checked + span > svg:nth-of-type(3) {
  animation-delay: 150ms;
}
input:checked + span > svg:nth-of-type(4) {
  animation-delay: 230ms;
}
input:checked + span > svg:nth-of-type(5) {
  animation-delay: 300ms;
}
input:checked + span > svg:nth-of-type(6) {
  animation-delay: 380ms;
}
input:checked + span > svg:nth-of-type(7) {
  animation-delay: 450ms;
}
input:checked + span > svg:nth-of-type(8) {
  animation-delay: 520ms;
}
input:checked + span > svg:nth-of-type(9) {
  animation-delay: 600ms;
}
input:checked + span > svg:nth-of-type(10) {
  animation-delay: 700ms;
  opacity: 1;
}
@keyframes checkSvgAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
